<div class="jumbotron">
  <h1 class="display-4 text-white font-weight-bold text-center">Welcome to EventBro !</h1>
</div>


<div class="container">
  <div class="row">
    <% @all_events.each do |event| %>
    <div class="col-sm-4 mb-4">
      <div class="list-group">
        <a href="<%=event_path(event.id)%>" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">N°<%=event.id%> by <%= event.admin.first_name %></h5>
          </div>
          <p class="mb-1"><%= event.title %></p>
        </a>
      </div>
      <div class="text-center mt-1">
        <a href="<%= event_path(event.id) %>" class="btn btn-outline-info text-center">Info</a>
        <a href="" class="btn btn-outline-success text-center">Join !</a>
      </div>
    </div>
    <% end %>
  </div>
</div>
