<div class="ml-4 mt-5">
  <!-- FLASH : error in case the user doesn't fill the form correctly -->
  <% if flash[:danger] %>
  <div class='alert alert-danger' role='alert'>
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
      <span class="close-button" aria-hidden='true'>&times</span>
    </button>
  </div>
  <% end %>
  <h1>Create a new event</h1>

  <%= form_tag url_for(action: 'create'), method: "post" do %>

       <%= label_tag 'Title' %><br/>
       <%= text_field_tag 'title'%>
       <br /> <br />

       <%= label_tag 'Description (minimum 20 caracters)' %><br/>
       <%= text_area_tag 'description'%>
       <br/> <br />

       <%= label_tag 'Start Date (yyyy-mm-dd hh:mm:ss)' %><br/>
       <%= text_area_tag 'start_date'%>
       <br/> <br />

       <%= label_tag 'Duration' %><br/>
       <%= text_area_tag 'duration'%>
       <br/> <br />

       <%= label_tag 'Location' %><br/>
       <%= text_area_tag 'location'%>
       <br/> <br />

       <%= label_tag 'Price' %><br/>
       <%= text_area_tag 'price'%>
       <br/> <br />

       <%= submit_tag "Create Post" %>
     <% end %>






  <!-- <form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form> -->
