<h1> Event n° <%= @event.id %> </h1>
<br>
<br>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Event title : <em> <%=@event.title%>  </em></li>
  <li class="list-group-item">Last name :<em><%= @event.description %></em></li>
  <li class="list-group-item">Start date : <em><%= @event.start_date %></em> </li>
  <li class="list-group-item">Duration : <em><%= @event.duration %></em> </li>
  <li class="list-group-item">Location : <em><%= @event.location %></em></li>
  <li class="list-group-item">Price : <em><%= @event.price %>€</em></li>
  <li class="list-group-item">Participants : <em><%= @event.attendees.count %></em></li>
</ul>

<% if user_signed_in? && not_admin_nor_attending %>
<div class="container mt-4">
  <div class="text-center">
    <%= link_to "Join !", new_event_charge_path(@event.id), class: "btn btn-outline-success" %>

  </div>
  <% elsif current_user == @event.admin %>
  <div class="text-center">
    <%= link_to "See attendees", event_attendances_path(@event.id), class: "btn btn-outline-info" %>
  </div>

  <%end%>
